.movie-preview{
    border-bottom: 1px solid rgba(128, 128, 128, 0.164);
    cursor: pointer;
    padding: 1.7rem;
    transition: .3s;
    display: flex;
    position: relative;
    font-size: 0.8rem;

    & span{
        font-size: 0.9rem;
        color: gray;
    }

    &:hover{
        background-color: rgb(56, 56, 56);
    }

    .movie-star{
        @include flex-center;
        font-size:1.3rem;
        position: absolute;
        right: 10px;
        cursor: pointer;
    }

    @include for-tablet{
        font-size: 1rem;
    }
}