.movie-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding: 2rem 3rem;
    gap: 1rem;
    position: relative;

    & h1{
        font-size: 3rem;

        @include for-large-phone{
            font-size: 3rem;
        }
        @include for-tablet{
            font-size: 3.5rem;
        }
        @include for-large-tablet{
            font-size: 4rem;
        }
    }
    
    .movie-img{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: .05;
        background-image: url(../../assets/img/1.jpg);

        @include for-large-phone{
            z-index: 1;
        }
    }

    .menu-hamburger {
        font-size: 1.3rem;

        @include for-large-phone{
            display: none;
        }
    }


}