.movie-app{
    width: 100%;
    min-height: 100vh;
    color: $main-light-color;
    @include flex-center;


    .movie-content-container{
        width: 100%;
        min-height: 100vh;
        background-color: rgb(38, 38, 38);

        display: flex;

        @include for-tablet{
            width: 80%;
            min-height: 90vh;
            border-radius: 12px;
        }
    }

  
}